<div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="10px">
  <div class="floating-button">
    <button mat-fab color="accent" (click)="goToPage('zone/create')">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-card class="mat-table">
    <mat-table #table [dataSource]="zoneList" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
        <mat-cell *matCellDef="let element" [attr.data-header]="'Código'">{{element.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element" [attr.data-header]="'Nome'">{{element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef>Criado em
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"
                  [attr.data-header]="'Criado em'">{{helpers.formatDate(element.created_at)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="modified_at">
        <mat-header-cell *matHeaderCellDef>Modificado em
        </mat-header-cell>
        <mat-cell *matCellDef="let element"
                  [attr.data-header]="'Modificado em'">{{helpers.formatDate(element.modified_at)}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

  </mat-card>

</div>


