/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.floating-button {
  position: absolute;
  top: 20px;
  right: 24px;
  z-index: 1;
}

table {
  width: 100%;
}
